div {
    font-family: Montserrat, serif;
}

.CardDiv {
    border-bottom: solid 2px black;
    border-top: solid 4px red;
    border-radius: 15px;
    width: 150px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    transition: border 0.5s ease;
}

.CardDiv img {
    width: 80%;
}

.CardDiv:hover {
    border-bottom: solid 2px red;
    border-top: solid 4px black;
}