#Header {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BC002D;
    color: #ffffff;
    padding-top: 30px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#pointsContainer {
   display: flex;
   align-self: flex-end;
   justify-content: space-around;
   margin-top: auto;
   border-top-left-radius: 2px;
   background-color: #B89081;
   width: 200px;
   padding: 10px 0 ;
}