*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./font/Montserrat-r.ttf) format('truetype');
}

.rulesContainer {
    background-color: #B89081;
    padding: 50px;
    text-align: center;
}